ul{
    text-decoration: none;
}

li{
    text-decoration: none;
    
}
.position {
    position: relative;
    z-index: 999999999999 ;
   
}

.marco{
    border-radius: 5%;
    background-color: grey;
    
}

.marco li{
    color: white;
}
.marco li:hover{
    color: black;
}



@media (min-width: 1200px) {
   .desktop{   
    right: 120px;
    top:18rem;
   
}
.position {
    position: absolute;
}

.marco{
    border-radius: 5%;
    background-color: grey;
    width: 6rem;
}
}

img{
    width: 2rem;
    height: 2rem;
    position: relative;
    vertical-align: bottom;
}

